<div class="container">
    <h2>{{'Image Upload'|translate}}</h2>
    
    <!-- <div class="alert">{{message}}</div> -->
    <form (ngSubmit)=" onSubmit(myForm)" #myForm="ngForm">
        <div class="form-group">
            <label for="">{{'Image Upload'|translate}}</label>
            <input type="file" (change)="onSelectFile($event)" name="upload"  class="form-control"  [(ngModel)]="user.upload"
            #upload="ngModel" multiple required>
            <div *ngIf="upload.invalid  &&  (upload.dirty || upload.touched || !isValidFormSubmitted) " class="error">
                <div *ngIf="upload['errors'].required">upload is required</div>
               
            </div>
           
        </div>
        <button type="submit"  class="btn btn-primary">{{'Submit'|translate}}</button>
    
    </form>
    <div class="position-relative"  *ngFor="let url of urls" >
    <img [src]="url" width="200px" height="200px">
    <span class="position-absolute cross-icon" (click)="clickChanges($event)"><img src="../../../../assets/delete.png" width="30px" height="30px"></span>
    
</div>
    <!-- <span><i class="glyphicon glyphicon-remove"></i></span> -->
    </div>
    <!-- (click)="clickChanges($event)"  -->