<div class="container">
<h2>{{'Timezone Change'|translate}}</h2>

<div class="input-wrapper">
        <label>Date Time:</label>
        <input [(ngModel)]="selectedMoment"  (ngModelChange)="selectedDate(selectedMoment)"
        placeholder="Select Date"
               [owlDateTimeTrigger]="dtPicker1" [owlDateTime]="dtPicker1">
        <owl-date-time #dtPicker1></owl-date-time>
    </div>

  <div class="form-group">
        <label for="country">{{'Select Timezone'|translate}}</label>
    <select  name ="timezone" class="form-control"  >
        <option value="undefined" >Select</option>
        <option [ngValue]="selectTime.id" *ngFor="let selectTime of timez"  >{{selectTime.name}}-->{{selectTime.time}}</option>
    </select>
    </div>
</div>
   
 
   