<h2>Timezone Change</h2>

<div class="input-wrapper">
        <label>Date Time:</label>
        <input [(ngModel)]="selectedMoment"
               [owlDateTimeTrigger]="dtPicker1" [owlDateTime]="dtPicker1">
        <owl-date-time #dtPicker1></owl-date-time>
    </div>

   
<div> GMT: {{selectedMoment| date:'short':'GMT'}}</div>
<div>PST: {{selectedMoment| date:'short':'PST'}}</div>
<div>IST:  {{selectedMoment| date:'short':'IST'}}</div>
<div>UTC:  {{selectedMoment| date:'short':'UTC'}}</div>
<div>Mountain Time:{{selectedMoment| date:'short':'UTC-7'}}</div>
<div>CST:{{selectedMoment| date:'short':'UTC-6'}}</div>
   
 
   