<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Validation
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="validation/template">Template</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="validation/reactive">Reactive</a>
         
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Datepicker
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="date-picker/bootstap-datepicker">Datepicker Bootstrap</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="date-picker/material-datepicker">Datepicker Material</a>
         
        </div>
      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLink="error/error-handling">Error Handling</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLink="pagination/paginationCall">Pagination</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLink="image/image-upload">Image Upload</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLink="pdf/pdf-upload">Pdf Upload</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLink="async/async-api-call">AsyncApi</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLink="timezone/timezone-change">Timezone</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="spinner/multiple-spinner">Spinner</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="match/confirm-password">Password Match</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="mat/datatable">Data Table</a>
      </li>
      
    </ul>
  
  </div>
</nav>