
<div class="row">
    <div class="col-md-4">
        <h2>Small Spinner</h2>
        <button class="btn btn-primary" (click)="showSmall(true)" name="small">Show</button>
        <button class="btn btn-primary" (click)="hideSmall(false)" name="small">Hide</button>
        <div class="card" style="width: 30rem;" *appIsSpinner="isSmall">
            <ngx-spinner name="small" [fullScreen]="false" type="ball-spin-clockwise" size="small"></ngx-spinner>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <h2>Medium Spinner</h2>
        <button class="btn btn-primary" (click)="showMedium(true)" name="medium">Show</button>
        <button class="btn btn-primary" (click)="hideMedium(false)" name="medium">Hide</button>
        <div class="card" style="width: 30rem;" *appIsSpinner="isMedium">
            <ngx-spinner name="medium"  [fullScreen]="false" type="ball-spin-clockwise" size="medium"></ngx-spinner>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>


    <div class="col-md-4">
        <h2>Large Spinner</h2>
        <button class="btn btn-primary" (click)="showLarge(true)" name="large">Show</button>
        <button class="btn btn-primary" (click)="hideLarge(false)" name="large">Hide</button>
        <div class="card" style="width: 30rem;" *appIsSpinner="isLarge">
            <ngx-spinner name="large"  [fullScreen]="false" type="ball-spin-clockwise" size="large"></ngx-spinner>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>


</div>
